[Desktop Entry]
Name=Wunderlistux
Exec=/home/edipo/Dev/wunderlistux/releases/Wunderlistux-linux-x64/Wunderlistux
Terminal=false
Type=Application
Icon=/home/edipo/Dev/wunderlistux/releases/Wunderlistux-linux-x64/resources/app/images/wunderlist.png
