a, input, textarea, button {
    -webkit-app-region: no-drag!important;
}

body {
    -webkit-app-region: drag!important;
}
#user-toolbar .stream-counts{
  position: absolute!important;
  top: -5%!important;
  left: 47%!important;
}
#list-toolbar{
  position: absolute!important;
  top: -48px!important;
  right: 32px!important;
}
.popover{
  left: 20px!important;
  top: 4px!important;
}
#wunderlist-base .popover.bottom .arrow{
  display: none!important;
}
