html, body {
    background: rgba(140, 140, 140, 0.5);
}

#controls {
  z-index: 99;
  /* width: 98.85%; */
  position: absolute;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  padding: 0 3px 3px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  top: 1px;
  /* height: 42px; */
  border-radius: 3px;
  /* border-top: 1px solid #eaeaea; */
  background: rgba(222, 222, 222, 1);
  /* border: 1px solid #cccccc; */
  border-width: 0 0 1px 0;
  /*background: linear-gradient(to bottom, rgba(222, 222, 222, 1) 0%, rgba(184, 184, 184, 1) 100%);*/
  border: 1px solid #efefef;
  border-bottom: 1px #d2d2d2 ridge;
  /* box-shadow: none; */
  height: 41px;
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, rgba(222, 222, 222, 1) 0%, rgb(177, 177, 177) 100%);
  box-shadow: inset 0px 0px 20px -8px rgba(132, 114, 114, 0.45);
}

#controls button, #controls img {
    border-radius: 99px;
    padding: 7px;
    border: none;
    margin: 3px;
    margin-top: 0;
}

#controls #close-btn {
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 4px!important;
}

webview {
    height: 100%;
    width: 100%;
    -webkit-app-region: no-drag;
    z-index: 100;
    position: absolute;
    top: 48px;
}

.stars, #min-btn {
    display: none;
}

#share, #sort, #more, #max-btn{
  float: right;
}

#conv, #bell{
  float: left;
}

#controls #bell{
  margin: 0!important;
  margin-left: 46px!important;
  height: 22px!important;
  width: 23px!important;
  padding-top: 12px;
}

#controls .pictogram-icon.last{
  margin-right: 8px!important;
}
#controls #max-btn{
  transform: scaleX(-1);
}
#controls #buttons{
  border: 1px solid rgba(128, 128, 128, 0.82);
  position: absolute;
  right: 60px;
  margin: 6px;
  border-radius: 3px;
}
#controls #buttons img:last-child{
  border-left: none;
}

#controls #buttons img{
  padding: 6px;
  margin: 0;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 0;
  /*box-shadow: inset 0px 0px 20px -8px rgba(132, 114, 114, 0.45);*/
  background: linear-gradient(to bottom, rgba(222, 222, 222, 1) 0%, rgb(177, 177, 177) 100%);
  box-shadow: none;
  border-top: 1px solid #efefef;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-radius: 3px;
}

#controls #buttons img#share{
  border-radius: 0px;
  border-right: 1px solid rgba(128, 128, 128, 0.82);
  border-left: 1px solid rgba(128, 128, 128, 0.82);
}
