html, body {
    background: rgba(140, 140, 140, 0.5);
}

#controls {
    z-index: 99;
    width: 100%;
    position: absolute;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding: 0 3px 3px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    top: 0;
    height: 44px;
    border-radius: 3px;
    border-top: 1px solid #eaeaea;
    background:  rgba(222, 222, 222, 1);
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.20);
    background: linear-gradient(to bottom, rgba(222, 222, 222, 1) 0%, rgba(184, 184, 184, 1) 100%);
}

#controls button, #controls img {
    border-radius: 99px;
    padding: 7px;
    border: none;
    margin: 3px;
}

#controls #close-btn {
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 4px!important;
}

webview {
    height: 100%;
    width: 100%;
    -webkit-app-region: no-drag;
    z-index: 100;
    position: absolute;
    top: 48px;
}

.stars, #min-btn {
    display: none;
}

#share, #sort, #more, #max-btn{
  float: right;
}

#conv, #bell{
  float: left;
}

#controls #bell{
  margin: 0!important;
  margin-left: 46px!important;
  height: 22px!important;
  width: 23px!important;
}

#controls .pictogram-icon.last{
  margin-right: 8px!important;
}
#controls #max-btn{
  transform: scaleX(-1);
}
